body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  font-weight: 400;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.container {
  /* max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px; */
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
/* Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-wrap {
  display: flex;
  align-items: center;
  padding: 16px;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-navigation-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* margin-right: 76px; */
  margin-right: 120px;
}
.header-navigation-logo-span {
  color: #2e2f42;
}
.header-navigation-list {
  display: none;
  gap: 40px;
}
.header-navigation-item {
}
.header-navigation-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-navigation-link:hover,
.header-navigation-link:focus {
  color: #404bbf;
  text-decoration: underline;
}

.current {
  color: #404bbf;
  position: relative;
}

.current::after {
  content: "";
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
}

.header-address {
  font-style: normal;
  margin-left: auto;
}
.header-address-list {
  display: none;
}
.header-address-item {
}
.header-address-link {
  color: #434455;
  font-size: 16px;
  display: block;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

.menu-open-btn {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.menu-open-icon {
  fill: #2f2f37;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding-top: 72px;
  padding-left: 16px;
  padding-bottom: 40px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu-close-btn {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  border: 1px solid #e7e9fc;
  border-radius: 50%;
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.menu-close-icon {
  fill: #2e2f42;
}

.menu-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}

.menu-navigation-item {
}

.menu-navigation-link {
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-navigation-link:hover,
.menu-navigation-link:focus {
  color: #404bbf;
}

.menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.menu-address-item {
}

.menu-address-link {
  color: #434455;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-address-link:hover,
.menu-address-link:focus {
  color: #4d5ae5;
}

.menu-soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.menu-soc-item {
  width: 40px;
  height: 40px;
}

.menu-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-soc-link:hover,
.menu-soc-link:focus {
  background-color: #404bbf;
}

.menu-soc-icon {
  fill: #f4f4fd;
}

/* Hero */

.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* width: 100%; */
  margin: 0 auto;
  padding-top: 72px;
  padding-bottom: 72px;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  width: 169px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  color: #fff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* Benefits */
.benefits {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.benefits-item {
  width: 100%;
}

.benefits-icon {
  display: none;
}

.benefits-subtitle {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.benefits-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Team */
.team {
  background-color: #f4f4fd;
}

.team > .container {
  max-width: 264px;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.team-item {
  background-color: #fff;
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-images {
}

.team-name {
  padding: 32px 16px;
}

.team-subtitle {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-item-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.soc-item {
}

.soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover,
.soc-link:focus {
  background-color: #404bbf;
}

.soc-icon {
  fill: #f4f4fd;
}
/* Portfolio */
.portfolio {
}
.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.portfolio-item {
  background-color: #fff;
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-cover-text,
.portfolio-item:focus .portfolio-cover-text {
  transform: translateY(0%);
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-images {
  width: 288px;
  height: 280px;
}

.portfolio-cover-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  display: flex;
  align-items: center;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.portfolio-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  /* align-items: baseline; */
  flex-direction: column;
  gap: 72px;
}

.footer-right {
  /* margin-right: 120px; */
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 17.5px;
}
.footer-logo-span {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 288px;
}

.footer-soc-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}
.footer-soc-wrap {
}
.footer-soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-soc-icon {
  fill: #f4f4fd;
}

.footer-left {
}

.footer-left-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.footer-input {
  border: none;
  width: 288px;
  height: 40px;
  flex-shrink: 0;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
  outline: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.footer-input::placeholder {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-form-btn {
  width: 165px;
  border-radius: 4px;
  background: #4d5ae5;
  border: none;
  padding: 8px 24px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #31d0aa;
}

.footer-form-btn-icon {
  fill: #fff;
  margin-left: 16px;
}

/* Modal */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn:hover,
.modal-btn:focus .modal-btn-icon {
  fill: #ffffff;
}

.modal-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.modal-form {
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-field-chek {
  margin-bottom: 24px;
}

.modal-label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  color: #2e2f42;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: inherit;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-text:focus {
  border-color: #4d5ae5;
}

.modal-text::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
}

.modal-btn-send {
  background-color: transparent;
  border: none;
  min-width: 169px;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-send:hover {
  background-color: #404bbf;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.check-text {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.check-text a {
  color: #4d5ae5;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  margin-left: 6px;
}

.check-text-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked + .check-text span {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
  border-color: #404bbf;
}

@media screen and (min-width: 320px) {
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-wrap {
  }

  .header-navigation-list {
    display: flex;
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .menu-open-btn {
    display: none;
  }

  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .hero-title {
    width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }

  .benefits-list {
    gap: 72px 24px;
  }

  .benefits-item {
    width: calc((100% - 24px) / 2);
  }

  .team-list {
    gap: 64px 24px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  .team > .container {
    max-width: 584px;
  }

  .portfolio-list {
    gap: 72px 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-images {
    width: 356px;
    height: 300px;
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .footer-input {
    width: 264px;
  }

  .footer-logo {
    display: inline-block;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-soc-title {
    text-align: start;
  }

  .footer-left-title {
    text-align: start;
  }

  .modal {
    width: 408px;
    min-height: 584px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-wrap {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-address-list {
    flex-direction: row;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
  }

  .benefits-list {
    gap: 24px;
  }

  .benefits-item {
    width: calc((100% - 72px) / 4);
  }

  .benefits-icon-bg {
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  .benefits-icon {
    display: block;
  }

  .benefits-subtitle {
    font-size: 20px;
    line-height: 1.2;
  }

  .team-list {
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }

  .team > .container {
    max-width: 1158px;
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  .portfolio-images {
    width: 360px;
    height: 300px;
  }

  .footer-container {
    /* flex-direction: row; */
    align-items: baseline;
    width: 100%;
    gap: 80px;
  }

  .footer-right {
    margin-right: 40px;
  }

  .footer-logo {
    margin-bottom: 16px;
  }

  .footer-left {
    /* margin-left: 80px; */
  }

  .footer-form {
    gap: 24px;
  }
}
